@font-face {
    font-family: theboldfont;
    src: url(theboldfont.ttf);
}
@font-face {
    font-family: transamerica;
    src: url(transamerica.ttf);
}
@font-face {
    font-family: transamerica3d;
    src: url(transamerica3d.ttf);
}

body
{
	background: lightblue;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

body{
	font-family: 'Exo 2', sans-serif;
	font-weight:600;
}

.btn{
	font-family: 'Exo 2', sans-serif;
	font-weight:700;
	border-radius: 5px;
}

.btn:active{
	text-decoration: none;
	overflow: hidden;
	transform: translate3d();
}


label{
	font-family: theboldfont;

}

#player1_score{
	font-family: theboldfont;
	font-weight:500
}


h1{
    font-family: transamerica;
    font-size:70px;
}
/*-----font-family: 'Exo 2', sans-serif;-----*/